body {
    /* placeholder color */
    background-image: url("../images/Kanto.png");
    background-size: cover;
}

#titleBar {
    display: flex;
    box-shadow: 80px 80px 80px 80px rgba(253, 253, 253, .4) inset, 80px 80px 80px 80px rgba(253, 253, 253, .4);
    max-height:100px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
}

#pika {
   max-height: 75px;
}
#title {
    max-height:150px;
}
#pokeBall {
    max-height:45px;
    box-shadow: 3px 15px 22px 2px rgba(0, 0, 0, 0.5);
    border-radius: 80px;
}

#winners {
    box-shadow: 0px 80px 80px 80px rgba(253, 253, 253, 0.28) inset, 80px 80px 80px 80px rgba(0, 0, 0, .4);
    color: black;
    font-weight: 900px;
    text-align: center;
    border: solid;
    border-color: black;
}

#battleStation {
    box-shadow: 80px 80px 80px 80px white inset, 80px 80px 80px 80px rgba(0, 0, 0, .4);
    font-weight: 900;
    border: solid;
}

#battleStation h2 {
    font-weight: 900;
    font-size: 18px;
    text-align: center;
}

p {
    font-size: small;
}

/* #img2 {}

#img1 {} */

#currentPlayer {
    /* placeholders to see sizing, positioning & visualization */
    display: flex;
    text-align: center;
    justify-content: center;
}


#player1Card {
    background-color: yellow;
    border: solid;
    text-align: center;
    height: 280px;
    width: 200px;
}

#player2Card {
    background-color: yellow;
    border: solid;
    text-align: center;
    height: 280px;
    width: 200px;
}

#gameButtons {
    display: flex;
    justify-content: space-between;
    border-width: 5px;
}

.btlCardback1 {
    height: 280px;
    width: 200px;
}

.btlCardback2 {
    height: 280px;
    width: 200px;

}

.flipMain1 {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}

.flipContainer1 .flipMain1 {
    transform: rotateY(180deg);
}

/*flip for player 1*/
.flipContainer1 {
    background-color: transparent;
    width: 200px;
}
/* flip for player 2 */
.flipContainer2 {
    background-color: transparent;
    max-width: 200px;
}

.flipMain2 {
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipContainer2 .flipMain2 {
    transform: rotateY(180deg);
}

.flipTop1 {
    /* backface-visibility: hidden; */
    position: absolute;
}

.flipTop2 {
    /* backface-visibility: hidden; */
    position: absolute;
}

.flipBottom1 {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.flipBottom2 {
    transform: rotateY(180deg);
    backface-visibility: hidden;

}

.container {
    display: none;
}
/* #input {
    max-width:250px;
} */

#player1Winner {
    display: none;
}

#player2Winner {
    display: none;
}

#playerDecks {
    margin:100px;
}
.card {
    border:solid;
    border-color:black;
}
#save {
    margin-top:10px;
}