body {
    /* placeholder color */
    background-image: url("../images/Kanto.png");
    background-size:cover;
}
.column{
    padding:0px;
}
#titleBar{
    display:flex;
    box-shadow: 80px 80px 80px 80px rgba(253, 253, 253,.4) inset, 80px 80px 80px 80px rgba(253, 253, 253,.4); 
    height:15%;
    padding:.5%;
}
.header {
    display: flex;
    max-width:150%;
    height:150%;
}
#pika {
 height:100%;   
}
#pokeball { 
   height:65%;
   box-shadow:  3px 15px 22px 2px rgba(0, 0, 0, 0.5); 
   border-radius: 80px;
}
#ScoresWinners {
    box-shadow: 0px 80px 80px 80px rgba(253, 253, 253, 0.28) inset, 80px 80px 80px 80px rgba(0,0,0,.4);
    color:black;
    font-weight:900px;
}
#scores {
    /* placeholders to see sizing, positioning & visualization */
    border:solid;
    border-width:2px;
    border-color:rgb(213, 213, 213);
    
}
#winners{
    /* placeholders to see sizing, positioning & visualization */
    border:solid;
    border-width:2px;
    border-color:rgb(255, 255, 255);
}

#battleStation{
    /* placeholders to see sizing, positioning & visualization */
    border:dashed;
    border-width:2px;
    border-color:black;
    box-shadow: 80px 80px 80px 80px white inset, 80px 80px 80px 80px rgba(0,0,0,.4);
    font-weight:900;
    width:550px;
}
#battleStation h2 {
    font-weight:900;
}
#currentplayer{
    /* placeholders to see sizing, positioning & visualization */
    border:dashed;
    border-width:2px;
    border-color:black;
    display:flex;
    text-align: center;
    justify-content: center;
    
}
#currentCards {
    border:dashed;
    border-color:black;
    width:550px;
}

#player1Card {
    border:solid;
    border-width:10px;
    border-color:rgb(238, 240, 113);
    text-align: center;
    height:350px;
    width:250px;
}

#player2Card {
    border:solid;
    border-width:10px;
    border-color:rgb(238, 240, 113);
    text-align: center;
    height:350px;
    width:250px;
}

#gameButtons {
display:flex;
justify-content: space-between;
}
.hide{
    visibility: hidden;
}
.btlCardback1{
    height:350px;
    width:250px;
}
.btlCardback2{
    height:350px;
    width:250px;
}